.settings-button-side {
  width: 20px;
}
.profile-icon {
  padding-right: 30px;
}

.sb-avatar__text div span span {
  font-size: 20px;
}

.top-nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  position: sticky;
  top: 0;
  background-color: rgba(15, 15, 15, 1);
  z-index: 101;
  align-items: center;
  height: 10vh;
  /* border: 1px yellow solid; */
  padding: 10px;
}
/* ----------------------------------------- */
.left-nav-side-container {
  /* border: 1px yellow solid; */
  display: flex;
  width: 15vw;
  justify-content: space-evenly;
  padding: 1vh;
  height: -webkit-fill-available;
  align-items: center;
}
.home-logo-container {
  /* border: 1px yellow solid; */
  padding: 1vh;
}
.home-button-container {
  /* border: 1px yellow solid; */
  padding: 1vh;
}

/* ------------------------------------------ */

.nav-search-bar-container {
  /* border: 1px yellow solid; */
  padding: 1vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  height: -webkit-fill-available;
}
.search-bar-sub-container {
  /* border: 1px solid yellow; */
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.search-bar {
  display: flex;
}
.main-nav-search {
  width: 35vw;
  border-radius: 30px;
  padding: 5px;
  padding-left: 20px;
  height: 5vh;
  border-start-end-radius: inherit;
  border-end-end-radius: inherit;
  border: 1px gray solid;
  background:#30363d;
  color: #ffffff;
}
.search-container {
  display: flex;
  align-items: center;
  background: #30363d;
  width: 85px;
  justify-content: center;
  height: inherit;
  position: inherit;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px gray solid;
}


/* ------------------------------------- */

.right-nav {
  display: flex;
  /* border: 1px yellow solid; */
  height: -webkit-fill-available;
  min-width: 30vw;
  align-items: center;
  justify-content: space-evenly;
}

.home-sign-in {
  display: flex;
  flex-direction: row-reverse;
  border: blue 1px solid;
  padding: 0px;
  border-radius: 30px;
}

div.home-sign-in span {
  padding-left: 5px;
  padding-right: 5px;
}

header {
  /* border: 1px yellow solid; */
  height: 115px;
  position: sticky;
  top: 0;
  background: black;
  z-index: 102;
}
@media (max-width: 768px) {
  .top-nav-bar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 101;
  }

  .search-companion-nav {
    margin-right: 40px;
    margin-top: 0px;
  }

  .main-nav-search {
    width: 90%;
    margin: 10px 0;
  }

  div.right-nav {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  div.right-nav > input {
    margin: 10px 0; /* Add some vertical margin */
  }

  .home-button {
    margin: 0;
  }
}
