.settings-button-side {
  width: 20px;
}
.profile-icon {
  padding-right: 30px;
}

.sb-avatar__text div span span {
  font-size: 20px;
}

.top-nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 101;
  align-items: center;
  height: 8vh;
  /* border: 1px yellow solid; */
  padding: 10px;
}
/* ----------------------------------------- */
.left-nav-side-container {
  /* border: 1px yellow solid; */
  display: flex;
  width: 15vw;
  justify-content: space-evenly;
  padding: 1vh;
  height: -webkit-fill-available;
  align-items: center;
}
.home-logo-container {
     /* border: 1px yellow solid; */
    /* padding: 1vh; */
    /* color: black; */
    /* background-color: black; */
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 40px;
    padding-top: 5px;
    cursor: pointer;
}
.home-button-container {
  /* border: 1px yellow solid; */
  padding: 1vh;
}

/* ------------------------------------------ */

.nav-search-bar-container {
    /* border: 1px yellow solid; */
    /* padding: 0vh; */
    width: 40vw;
    display: flex;
    justify-content: center;
    margin-left: 125px;
}
.search-bar-sub-container {
    /* border: 1px solid yellow; */
    /* width: 45vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

}

.search-bar {
  display: flex;
  height: 40px;

}



.main-nav-search {
  width: 30vw;
  border-radius: 30px;
  padding: 5px;
  padding-left: 20px;
  height: 5vh;
  border-start-end-radius: inherit;
  border-end-end-radius: inherit;
  border: 1px gray solid;
  background: #000;
  color: #ffffff;
  height: inherit;
}
.main-nav-search:focus {
  border: 1px blue solid;
}
.search-container {
  display: flex;
  align-items: center;
  background: #232323;
  width: 60px;
  justify-content: center;
  height: inherit;
  position: inherit;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px gray solid;
  border-left: none;
}
.search-companion-nav {
  width: 20px;
  height: 20px;
}

/* ------------------------------------- */

.right-nav {
  display: flex;
  /* border: 1px yellow solid; */
  height: -webkit-fill-available;
  min-width: 30vw;
  align-items: center;
  justify-content: space-evenly;
}

.home-sign-in {
  display: flex;
  flex-direction: row-reverse;
  border: blue 1px solid;
  padding: 0px;
  border-radius: 30px;
}

div.home-sign-in span {
  padding-left: 5px;
  padding-right: 5px;
}

header {
  /* border: 1px yellow solid; */
  height: 115px;
  position: sticky;
  top: 0;
  background: black;
  z-index: 102;
}
@media (max-width: 768px) {
  .top-nav-bar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 101;
  }

  .search-companion-nav {
    margin-right: 40px;
    margin-top: 0px;
  }

  .main-nav-search {
    width: 90%;
    margin: 10px 0;
  }

  div.right-nav {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  div.right-nav > input {
    margin: 10px 0; /* Add some vertical margin */
  }

  .home-button {
    margin: 0;
  }
}

/*


.top-nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: sticky;
}

.home-button {
  margin-left: 100%;
  padding-left: 0px;
  height: max-content;
  height: inherit;
}

.search-bar {
  position: relative;
  width: 80vw;
  max-width: 600px;
}

.search-bar img {
  width: 35px;
  height: 31px;
  padding-right: 1px;
  padding-top: 1px;


}

.search-bar img:hover {
  cursor: pointer
}

.main-nav-search {
  margin-top: -5px;
  padding-right: 5px;
  width: 100%;
  border-radius: 100px;
  max-height: max-content;
  align-self: center;
  background-color: rgb(18,18,18);
  border: 1px rgb(40, 40, 40) solid;
  color: darkgray;
  padding-left: 20px;
  font-size: 20px;
  border: 1px solid grey;
}

.search-companion-nav {
  margin-top: -3px;
  font-size: 20px;
  position: absolute;
  right: 1px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
  height: inherit;
  overflow-wrap:normal;
  background-color: rgb(40, 40, 40);
  color:darkgray;
}

div.right-nav {
  display: flex;
  justify-content: space-between;
}

div.right-nav > input {
  display: inherit;
  margin-right: 10px;
}

.main-nav-search:focus {
  border: .5px solid rgba(27, 98, 185, 1);
  outline: .5px solid rgba(27, 98, 185, 1)
} */
