/*
body {
    background-color: rgba(15, 15, 15, 1);

}



.top-nav-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/*  */
/*
.home-button {
    height: min-content;
    height: inherit;
}


.main-nav-search {

    border-radius: 25px;
    width: 40vmax;

    max-height: max-content;
    align-self: center;
    background-color: rgb(18,18,18);
    border: 1px rgb(40, 40, 40) solid;
    color: darkgray;
    padding-left: 20px;
    font-size: 15px;
    border: 1px solid grey;

}




.search-companion-nav {
    padding: 5px;
    height: inherit;
    position: fixed;
    overflow-wrap: normal;

}



div.right-nav {
    display: flex;
    justify-content: space-between;
}
div.right-nav > input {
   display: inherit;
   margin-right: 10px;
}


  */









































body {
    background-color: rgba(15, 15, 15, 1);
}

.top-nav-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.home-button {
    height: min-content;
    height: inherit;
}

.search-bar {
    position: relative;
    width: 80vw;
    max-width: 600px;
}

.main-nav-search {
    margin-top: -5px;
    width: 100%;
    border-radius: 100px;
    max-height: max-content;
    align-self: center;
    background-color: rgb(18,18,18);
    border: 1px rgb(40, 40, 40) solid;
    color: darkgray;
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid grey;
}

.search-companion-nav {
    margin-top: -2.5px;
    font-size: 15px;
    position: absolute;
    right: 1px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 50%;
    transform: translateY(-50%);
    padding: 1px;
    height: inherit;
    overflow-wrap:normal;
    background-color: rgb(40, 40, 40);
    color:darkgray;


}

div.right-nav {
    display: flex;
    justify-content: space-between;
}

div.right-nav > input {
    display: inherit;
    margin-right: 10px;
}

.main-nav-search:focus {
    border: .5px solid rgba(27, 98, 185, 1);
    outline: .5px solid rgba(27, 98, 185, 1) /* Changes the outline to a 2px solid red line */
}

@media (max-width: 768px) { /* Adjust this breakpoint as needed */
  .top-nav-bar {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements */
  }

  .main-nav-search {
    width: 90%; /* Adjust the width of the search bar on small screens */
    margin: 10px 0; /* Add some vertical margin */
  }

  div.right-nav {
    flex-direction: column; /* Stack buttons vertically */
  }

  div.right-nav > input {
    margin: 10px 0; /* Add some vertical margin */
  }
}
